// http://ionicframework.com/docs/v2/theming/

// Global CSS
// --------------------------------------------------
// Put CSS rules here that you want to apply globally.
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//
// App Shared Sass variables belong in app.variables.scss.
